/*CSS do plano de fundo e do gradiente*/

body {
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*Gradiente*/
    background: linear-gradient(30deg, #ff4d4d, #6600ff, #e6e6e6);
    animation: colors 5s ease infinite;
    background-size: 300% 300%;
}


/*Criando Animação*/

@keyframes colors {
    0% {
        background-position: 25% 50%;
    }
    50% {
        background-position: 75% 50%;
    }
    100% {
        background-position: 25% 50%;
    }
}


/*Div principal*/

.card {
    width: 70%;
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

html {
    overflow-x: hidden;
}

.navbar {
    background: linear-gradient(30deg, #ff4d4d, #6600ff, #e6e6e6);
}