@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{

    margin: 0px;
    padding: 0px;

}

body{

    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(30deg, #E37FEA, #5906c5d2,#7f06c5 );
    animation: colors 4s ease infinite;
    background-size: 300% 300%;
}

@keyframes colors{

    0%{
        background-position: 0% 50%;
    }
    
    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}




.form-box{

    display: flexbox;
    position: relative;
    border-radius: 15px;
    box-shadow: 1px 2px 1px rgba(5, 5, 5, 0.438);
    margin-left: 22%;
    margin-top: 8%;
    background-color: #ffffff;
    height: 68%;
    width: 55%;

}

/*
.formulario{

    display: flex;
    position: relative;
    top: 90px;
    margin-left: 20%;
    width: 60%;
    height: 50%;
    background-color: #7f06c5;

}*/

.container{

    top: 20%;
    width: 50%;
    margin-left: 20%;
    text-align: center;
    /*background-color: rgb(183, 214, 43);*/

}


input{

    width: 40%;
    display: inline-block;
    background-color: transparent;
    border-color: #de40e9;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 5px;

}

input:focus{

    outline: focus;

}

.Btn{

    width: 50%;
    background-color: #de40e9;
    color: white;
    

}

.btn:Hover{

    filter: brightness(90%);

}

.Titulo{

    text-align: center;
    
    opacity: 80%;

}


