@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.navigation {
    background-color: #de40e9;
    color: white;
}

.form-box {
    background-color: #de40e9;
    width: 60%;
    height: 40%;
}


/*
.sidebar{

    position: fixed;
    left: 0;
    width: 230px;
    height: 100%;
    background-color: rgba(228, 222, 222, 0.911);

}

.sidebar header{

    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: #de40e9;
    user-select: none;

}

.sidebar ul a{

    display: block;
    
    height: 10%;
    width: 100%;
    line-height: 65px;
    font-size: 18px;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 2px solid rgba(255, 255, 255,.1);
   
    transition: .4s;
}

ul li:hover a{

    padding-left: 50px;
  

}

.sidebar ul a img{

    margin-right: 15px;

}
*/