@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{

    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

.form-edit{

    justify-content: center;
    display: flexbox;
    margin-top: 5%;
    width: 60%;
    height: 65%;
    border-radius: 15px;
    margin-left: 20%;

}



.title{

    margin-top: 1%;
    text-align: center;
    opacity: 80%;
    margin-bottom: 3%;

}

input{

    display: inline-block;
    background-color: transparent;
    border-color: #de40e9;
    border-top: none;
    border-left: none;
    border-right: none;

}

input:focus{

    outline: focus;

}

.inpt{

    width: 40%;
    margin-left: 30%;
    margin-bottom: 3%;

}

.Btn{


    width: 30%;
    margin-left: 35%;
    background-color: #de40e9;
    color: white;

}

.btn:Hover{

    opacity: 60% ;

}