/*CSS do plano de fundo e do gradiente*/
body{
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*Gradiente*/
    background: linear-gradient(30deg, #740099, #6600ff,#00e9c9 );
    animation: colors 5s ease infinite;
    background-size: 300% 300%;

}

/*Criando Animação*/
@keyframes colors{

    0%{
        background-position: 0% 50%;
    }
    
    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

/*Div principal*/
.form-box{

    background-color: white;
    max-width: 60%;
    width: 35%;
    height: 85%;
    margin-top: 5%;
    margin-left: 33%;
    border-radius: 15px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.562);
    max-height: 1000px;
    min-height: 300px;
    min-width: 250px;
}

.title{

    font-family: sans-serif;
   color:black;
    margin-bottom: 5%;
    opacity: 80%;

}


.img-log{

    width: 70%;
  
    min-width: 300px;
}


.sim{

  
    width: 50%;
    height: 50%;
    margin-top: -25%;
    margin-left: 56%;
    min-width: 300px;
    

    
}

.inpt{
    margin-top: 0%;
    display: block;
    position:auto;
    
    border-radius: 7px;
    margin-bottom: 5%;
    background-color: #f1f1f1;
    border-color: black;
    
    /* border-top: none;
    border-left: none;
    border-right: none; */
    
}

input[type=text]:focus {
    border: 3px solid #9b00ff;
  }
input:focus{
    outline: none;
}

.Btn{
    margin-top: 5%;
    margin-bottom: 5%;
    height:10%;
    width: 30%;
    border-radius: 50px;
    background-color: #9b00ff;
    border-width: 2px;
    border-color: white;
    color: white;
    cursor:pointer;

}

.Btn:focus{
    outline: none;
}

.btn:Hover{

    opacity: 60% ;

}



.check-content{

    margin-top:5%;


}

.check{

    margin-left:5%;

}

input:checked{

    background-color: #de40e9;

}

